@font-face {
    font-family: 'prata-regular';
    src: url('/mmiretreat/css/font/prata-regular-webfont.eot');
    src: url('/mmiretreat/css/font/prata-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/mmiretreat/css/font/prata-regular-webfont.woff') format('woff'),
         url('/mmiretreat/css/font/prata-regular-webfont.ttf') format('truetype'),
         url('/mmiretreat/css/font/prata-regular-webfont.svg#prata-regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'poppins-regular';
    src: url('/mmiretreat/css/font/poppins-regular-webfont.eot');
    src: url('/mmiretreat/css/font/poppins-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/mmiretreat/css/font/poppins-regular-webfont.woff') format('woff'),
         url('/mmiretreat/css/font/Poppins-Regular.ttf') format('truetype'),
         url('/mmiretreat/css/font/poppins-regular-webfont.svg#poppins-regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'poppins-light';
    src: url('/mmiretreat/css/font/poppins-light-webfont.eot');
    src: url('/mmiretreat/css/font/poppins-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/mmiretreat/css/font/poppins-light-webfont.woff') format('woff'),
         url('/mmiretreat/css/font/poppins-light.ttf') format('truetype'),
         url('/mmiretreat/css/font/poppins-light-webfont.svg#poppins-light') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'prata-regular';
}

a, label {
    font-family: 'poppins-regular';
}

p {
    font-family: 'poppins-light';
}

.et_pb_section {
    background-position: center right;
    background-size: cover;
    background-image: url(https://mmipeace.org/wp-content/uploads/2019/02/Registration-Form.png)!important;
    position: relative;
    background-color: #fff;
    z-index: -1;
}
    
.et_pb_with_background {
    background-repeat: no-repeat;
}

.et_pb_row_0.et_pb_row {
    padding-top: 41px;
    padding-right: 0px;
    padding-bottom: 40px;
    padding-left: 0px;
}

.footer {
    color: rgb(143, 154, 165);
    padding: 0px 0px 30px;
    background: #284968;
}

.sub_footer {
    margin-top: 60px;
    border-top: 1px solid rgba(120, 130, 140, 0.13);
    padding: 30px 0px 0px;
}

.white-space {
    background: #ffffff;
    padding: 80px 0;
}

.et-social-icons {
    float: right;
    font-size: x-large;
}

@media (max-width: 980px){
.et_pb_section {
    padding: 50px 0;
}}

@media (min-width: 981px){
.et_pb_section {
    padding: 4% 0;
}}

@media only screen and (min-width: 1350px){
.et_pb_section {
    padding: 54px 0;
}}